<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="XuXu All Test Suite">
    <!-- ./BaseStudy/test -> pwd-->
    <test verbose="1" preserve-order="true" name="BaseStudy/test/TestNgStudy">
        <groups>
            <dependencies>
                <group name="group1" depends-on="">
                    <classes>
                        <!-- TestNgStudy.ParamDataTes->package name-->
                        <class name="TestNgStudy.ParamDataTestPlus">
                            <methods>
                                <parameter name="name" value="zhangsan"/>
                                <parameter name="pwd" value="123456"/>
                                <parameter name="result" value="欢迎zhangsan"/>
                                <include name="LoginTestFuntion1"></include>
                                <include name="LoginTestFuntion2"/>
                            </methods>
                        </class>
                    </classes>
                </group>
            </dependencies>
        </groups>
    </test>
</suite>